*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-blue: hsl(212, 86%, 64%);
  --clr-primary-green: hsl(180, 62%, 55%);
  --clr-primary-yellow: hsl(34, 97%, 64%);

  --clr-gray-400: #4c4e61;
  --clr-gray-600: #a3a5ae;
  --clr-gray-800: #fafafa;

  --clr-shadow: rgba(131, 167, 210, 0.473);

  /* Font Sizes */
  --font-size-title-desktop: 3.4rem;
  --font-size-title-mobile: calc(2rem + 1vw);
  --font-size-title-small: 2rem;
  --font-size-text: 1.5rem;

  /* Margins */
  --margin-medium: 3.2rem;
  --margin-small: 2rem;

  /* Padding */
  --padding-large: 3.8rem;
  --padding-medium: 3.2rem;
  --padding-small: 1.8rem;
}

body,
html {
  background-color: var(--clr-gray-800);
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1.7;

  display: flex;
  justify-content: center;
}

p {
  color: var(--clr-gray-600);
  font-size: var(--font-size-text);
  font-weight: 200;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: var(--padding-large);
}

.card-features__header {
  max-width: 65rem;
  text-align: center;
  padding-top: var(--padding-small);
  color: var(--clr-gray-400);
}

.card-features__header--title {
  font-size: var(--font-size-title-mobile);
  font-weight: 200;
}

.card-features__header--title span {
  display: block;
  font-weight: 600;
}

.card-features__header--para {
  padding: var(--padding-small) var(--padding-large) 0;
}

.card-features__services {
  padding: var(--padding-large) var(--padding-medium) 0;
  display: grid;
  grid-template-columns: 1fr;
}

.card-features__services > div {
  background-color: #fff;
  max-width: 36rem;
  padding: var(--padding-medium);
  box-shadow: 0.1rem 1rem 1.5rem var(--clr-shadow);
  border-radius: 0.8rem;
  margin-bottom: var(--margin-medium);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-features__services--title {
  color: var(--clr-gray-400);
  font-size: var(--font-size-title-small);
}

.card-features__services--para {
  margin: 0.3rem 0 var(--margin-medium);
}

.card-features__services--img {
  align-self: flex-end;
}

.card-features__services-1 {
  border-top: 4px solid var(--clr-primary-green);
}
.card-features__services-2 {
  border-top: 4px solid var(--clr-primary-red);
}
.card-features__services-3 {
  border-top: 4px solid var(--clr-primary-yellow);
}
.card-features__services-4 {
  border-top: 4px solid var(--clr-primary-blue);
}

/***************** Min Width: 660px ******************/
@media screen and (min-width: 660px) {
  .card-features__services {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: var(--padding-large) var(--padding-medium) 0;
  }

  .card-features__services > div {
    max-width: 38rem;
    margin-bottom: var(--margin-small);
  }

  .card-features__services > div {
    width: 90%;
  }
}

/***************** Min Width: 1150px ******************/
@media screen and (min-width: 1150px) {
  p {
    font-size: var(--font-size-text);
  }

  .card-features__services {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, [row-start] 1fr [row-end]);
  }

  .card-features__header--title {
    font-size: var(--font-size-title-desktop);
  }

  .card-features__services--title {
    font-size: var(--font-size-title-small);
  }

  .card-features__services-1 {
    grid-row: row-start 2 / row-end 3;
  }
  .card-features__services-2 {
    grid-row: row-start 1 / row-end 2;
  }
  .card-features__services-3 {
    grid-row: row-start 3 / row-end 4;
  }
  .card-features__services-4 {
    grid-row: row-start 2 / row-end 3;
  }
}
